/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.container{
    width: 80%;
    margin: 0 auto;
}

.container > header{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.jumbotron{
    width: 100%;
    height: 500px;
    background-color: #e0d67b;
    margin-bottom: 20px;
}

main{
    width: 100%;
    background-color: #0187ff;
    margin-bottom: 5px;
}
.main-header{
    width: 100%;
    height: 100px;
    background-color: #abcfe7;
    margin-bottom: 10px;
}

.main-aside{
    width: calc((40% / 2) - 5px);
    height: 400px;
    background-color: #abcfe7;
    float: left;
    margin-bottom: 10px;
}

.main-content{
    width: calc((60%) - 10px);
    height: 400px;
    background-color: #abcfe7;
    float: left;
    margin: 0 10px 10px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #8800ff;
}


#logo{
    width: 160px;
    border-right: 1px solid #dedfdf;
    padding: 5px 20px 0 0;
    margin-bottom: 40px;
    margin-top: 10px;
}


ul#menu li {
    display:inline;
    text-transform: uppercase;
    color: #dedfdf;
    margin-right: 10px;

}



