/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.container > header{

    margin-bottom: 40px;
  
}

.jumbotron{
    
    height: 500px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;

}

div.transbox {

    height: 100%;
    background-color: black;
    opacity: 0.2;
    border-radius: 10px;
}

.jumbotron-text{
    width: 50%;
    color: white;
    bottom: 70px;
    left: 50px;
}

.jumbotron-text h1{
    font-weight: normal;
}

main{
    margin-bottom: 30px;
}
.main-header{
    
    margin-bottom: 30px;
}

.main-header h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h4{
    color: #bfbebf;
    font-weight: normal;
}



.main-aside{
    width: calc((45% / 2) - 5px);
    float: left;
    margin-bottom: 10px;
}

.main-img{
    height: 210px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

#img-left{
    background-image: url("../img/img-1.jpg");
}

#img-right{
    background-image: url("../img/img-3.jpg");
}

#main-content-img{
    background-image: url("../img/banner-2.jpg");
}

.aside-text h4,
.main-text h4{
    color: #444444;
    margin-bottom: 20px;
}

main p{
    color: #bfbebf;;
}


.main-content{
    width: calc((55%) - 10px);
    float: left;
    margin: 0 10px 10px;
}


footer{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

footer span{
    color: red;
    margin-left: 5px;
}


#logo{
    width: 150px;
    border-right: 1px solid #dedfdf;
    padding: 5px 20px 5px 0;
    margin-bottom: 40px;
}


ul#menu li {
    display:inline;
    text-transform: uppercase;
    color: #bfbebf;
    margin-right: 10px;

}



